.account {
  margin-top: 20px;
}

.account__wrapper {
  display: flex;
  gap: 60px;
}

.account__main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: 50%;
  margin-top: 30px;

  width: 100%;

  & > h3 {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid #eeeeee;
  }
}

.account__links {
  display: flex;
  align-items: center;
  gap: 20px;

  button {
    background: none;
    font-weight: 500;
    font-family: "Montserrat-md", sans-serif;
    color: #0b1d57;

    &.active {
      color: var(--color-red);
      position: relative;

      &::before {
        content: "";
        position: absolute;

        top: 150%;

        width: 100%;
        height: 2px;

        background: var(--color-red);
        border-radius: 3px;
      }
    }
  }
}

.account__main {
  & > button {
    padding: 10px 40px;
    background: red;
    color: var(--color-white);
    border-radius: 5px;
    margin-top: 50px;
  }
}

.account__newinfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;

  & > p {
    font-family: "Montserrat-md", sans-serif;
    font-weight: 500;
  }

  div {
    input {
      padding: 10px 15px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 20px;
    }
  }

  & > button {
    padding: 5px;
    background: var(--color-blue);
    color: var(--color-white);
    border-radius: 5px;
  }
}

.account__list {
  display: flex;
  gap: 20px;
}

.account__content {
  padding: 30px;
  border-radius: 30px;
  background: var(--color-white);
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}

.account__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
